@model  IEnumerable<CrudMvcSp.Models.SP_Mues_liqSueldo_Result>

@{

    ViewBag.Title = "Index";

    WebGrid grid = new WebGrid(Model, defaultSort: "Nombre",
                             selectionFieldName: "Rut_Empleado",
                             rowsPerPage: 10,
                             sortDirectionFieldName: "Nombre"
                             );
}
<br />
<br />
<h2>Mantención de Liquidación De Sueldos</h2>
<br />
<br />
@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/bootstrap")

@Styles.Render("~/Content/fontawesome")

<table class="table table-responsive table-striped table-condensed" id="NueLiqSueld">
    <tr>
        <td>
            <button id="BtnNueLiqSueld" value="Agregar Liquidación De Sueldo" class="btn btn-group-lg btn-success BtnNuevo"> <i class="fa fa-plus-circle"></i> Agregar Liquidación De Sueldo </button>
        </td>
    </tr>
</table>

@*<table border="1" class="table table-responsive table-striped table-condensed" id="TablSelec">
        <tr>
            <td align="center">Id Liquidación Sueldo</td>
            <td align="center">Rut Empleado</td>
            <td align="center">Fecha Liquidación Sueldo</td>
        </tr>
        <tr>
            <td align="center"><input type="text"  id="idliqsu"/></td>
            <td align="center"><input type="text" id="RutEmplLiqsu" /></td>
            <td align="center"><input type="text" id="FechLiqSu" /></td>
        </tr>
    </table>*@

<form id="formMuesCargFam" method="post">
    @if (Model.Count() != 0)
    {
        <div class="table table-responsive table-striped table-bordered table-condensed" id="gridCargFam">
            @grid.GetHtml(
             alternatingRowStyle: "webgrid-alternating-row",
             htmlAttributes: new { @id = "TablaLiqSueld", width = "50px", @class = "Grid" },
             tableStyle: "webgrid-table table table-responsive table-bordered",
             headerStyle: "webgrid-header",
             footerStyle: "webgrid-footer",
             selectedRowStyle: "webgrid-selected-row",
             rowStyle: "webgrid-row-style",
             mode: WebGridPagerModes.All,
             firstText: "Primera Pagina",
             previousText: "Pagina Anterior",
             nextText: "Pagina Siguiente",
             lastText: "Ultima Pagina",
             displayHeader: true,
             columns:
              new[] {
                        grid.Column("Rut_Empleado","Rut"),
                        grid.Column("Nombre","Nombre"),
                        //grid.Column("Descr_Tipo","Tipo_Liquidación"),
                        grid.Column("Fecha_Liquidacion","Fecha Liquidación"),
                        grid.Column("Sueldo_Base","Sueldo Base"),
                        //grid.Column("Dias_Trabajados","Dias Trabajados"),
                        //grid.Column("PorcComision","% Comisión"),
                        //grid.Column("Valor_Com","Comisión A Pagar"),
                        //grid.Column("Cant_Horas_Extras","Horas Extras"),
                        //grid.Column("Total_Horas_Extras","Total Horas Extras"),
                        //grid.Column("Bonos","Bonos"),
                        //grid.Column("Gratificacion","Gratificación"),
                        grid.Column("TotalImponible","Total Imponible"),
                        //grid.Column("Colacion","Colación"),
                        //grid.Column("Movilizacion","Movilización"),
                        //grid.Column("Viaticos","Viaticos"),
                        grid.Column("TotalHaberes","Total Haberes"),
                        //grid.Column("Nom_Afp","Afp"),
                        //grid.Column("Porc_Desc","% Descuento"),
                        //grid.Column("Valor_Afp","$ Descuento"),
                        //grid.Column("Nombre_Salud","Salud"),
                        //grid.Column("Porc_Cotiz","% Descuento"),
                        //grid.Column("Valor_Salud","$ Descuento"),
                        //grid.Column("Tipo_Contrato","Seg. Cesantía"),
                        //grid.Column("Monto_Empleador","Monto Empleador"),
                        //grid.Column("Monto_Trabajador","Monto Trabajador"),
                        //grid.Column("Valor_Seg_Cesantia","Descuento Seg. Cesantía"),
                        grid.Column("TotalDescSegSocial","Total Seg. Social"),
                        //grid.Column("Valor_Impuesto","Valor Impuesto"),
                        //grid.Column("ImpAPagar","Impuesto A Pagar"),
                        //grid.Column("Prestamos","Prestamos"),
                        grid.Column("TotalDesctos","Total Desctos."),
                        grid.Column("Otrs_Descuentos","Otros Desctos."),
                        grid.Column("Total_Pagar","Total A Pagar"),
                       grid.Column(header: "Acciones", style: "col-sm-2", format:
                      @<span class="link">
                            <a class="btn btn-success btn-xs glyphicon glyphicon-pencil Edit" href="javascript:;"> Edit</a>
                            <a class="btn btn-warning btn-xs glyphicon glyphicon-print  Info" href="javascript:;"> Info</a>
                            <a class="btn btn-danger  btn-xs glyphicon glyphicon-trash  Delete" href="javascript:;"> Delete</a>
                       </span> )
                                })
        </div>
        <div id="TablExport">
            <table align="center">
                <tr>
                    <td>@Html.ActionLink(" Export A Pdf", "LiqSueldPDF", "LiqSueld", new { @class = "btn btn-primary fa fa-file-pdf-o" }) | </td>
                    <td> </td>
                    <td>@Html.ActionLink(" Export A Excel", "LiqSueldXls", "LiqSueld", new { @class = "btn btn-primary fa fa-file-excel-o" }) | </td>
                    <td> </td>
                    <td>@Html.ActionLink(" Export A CSV", "LiqSueldCsv", "LiqSueld", new { @class = "btn btn-primary fa fa-file-excel-o" }) | </td>
                    <td> </td>
                    <td>@Html.ActionLink(" Export A DOC", "LiqSueldDocx", "LiqSueld", new { @class = "btn btn-primary fa fa-file-word-o" }) </td>
                </tr>
            </table>
        </div>
    }
    else
    {
        <div>
            <table align="center">
                <tr>
                    <td>
                        <h4> <i class="fa fa-folder-open"></i> No Hay Datos Disponibles, Haga Click en <b>Agregar Liquidación De Sueldo</b> <i class="fa fa-folder-open"></i> </h4>
                    </td>
                </tr>
            </table>
        </div>
    }
</form>

<!-- Modal Agrega Liquidación de Sueldos -->
<div class="modal" id="AgrLiqSueld">
    <div class="modal-dialog modal-lg" style="width:70%;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h2 class="modal-title">Nueva Liquidación de Sueldos</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="IngLiqSuel" enctype="multipart/form-data" method="post">
                    <div class="tab-content">
                        <br />
                        <table align="center" border="1">
                            <tr>
                                <td align="center">Rut Empleado</td>
                                <td></td>
                                <td align="center"><input type="text" id="RutEmp" style="text-align:right;" required /></td>
                                <td></td>
                                <td align="center">Tipo Remuneración</td>
                                <td></td>
                                <td>@Html.DropDownList("ListTipRem", ViewBag.ListNacion as SelectList, "Seleccione Tipo Remuneración", new { @class = "form-control", style = "width:175px" })</td>
                                <td></td>
                                <td align="center">Fecha Liquidación</td>
                                <td></td>
                                <td align="center"><input type="text" id="FechLiq" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="center">Sueldo Base</td>
                                <td></td>
                                <td align="center"><input type="text" id="SueldBas" style="text-align:right;" /></td>
                                <td></td>
                                <td align="center">Dias Trabajados</td>
                                <td></td>
                                <td align="center"><input type="text" id="DiasTrab" style="text-align:right;" /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="center">Cantidad Horas Extras</td>
                                <td></td>
                                <td align="center"><input type="text" id="CantHrsExt" style="text-align:right;" /></td>
                                <td></td>
                                <td align="center">Total Horas Extras</td>
                                <td></td>
                                <td align="center"><input type="text" id="ValHrsExt" style="text-align:right;" disabled /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="center">% Comision</td>
                                <td></td>
                                <td align="center"><input type="text" id="PorcCom" style="text-align:right;" /></td>
                                <td></td>
                                <td align="center">Total Comisión</td>
                                <td></td>
                                <td align="center"><input type="text" id="ValorCom" style="text-align:right;" disabled /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="center">Bonos</td>
                                <td></td>
                                <td align="center"><input type="text" id="Bonos" style="text-align:right;" /></td>
                                <td></td>
                                <td align="center">Gratificación</td>
                                <td></td>
                                <td align="center"><input type="text" id="ValGrat" style="text-align:right;" disabled /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="6" bgcolor="cac5c4">TOTAL REMUNERACION IMPONIBLE</td>
                                <td align="center" colspan="6" bgcolor="cac5c4"><input type="text" Id="TotImponible" disabled /> </td>
                            </tr>
                            <tr>
                                <td align="center">Movilización</td>
                                <td></td>
                                <td align="center"><input type="text" id="ValMov" style="text-align:right;" /></td>
                                <td></td>
                                <td align="center">Colación</td>
                                <td></td>
                                <td align="center"><input type="text" id="ValCola" style="text-align:right;" /></td>
                                <td></td>
                                <td align="center">Viaticos</td>
                                <td></td>
                                <td align="center"><input type="text" id="ValViatico" style="text-align:right;" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="6" bgcolor="cac5c4">TOTAL HABER</td>
                                <td align="center" colspan="6" bgcolor="cac5c4"><input type="text" Id="TotHaber" style="text-align:right;" disabled /> </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="12" bgcolor="cac5c4">Descuentos Seg Social</td>
                            </tr>
                            <tr>
                                <td align="center">Nombre Afp</td>
                                <td></td>
                                <td align="center">@Html.DropDownList("AfpSelec", ViewBag.ListAfps as SelectList, "Seleccione AFP", new { @class = "form-control", style = "width:175px" })</td>
                                <td></td>
                                <td align="center">Monto AFP</td>
                                <td></td>
                                <td align="center"><input type="text" id="MontoAfp" style="text-align:right;" /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="center">Nombre Salud</td>
                                <td></td>
                                <td align="center">@Html.DropDownList("SalSelec", ViewBag.ListSalud as SelectList, "Seleccione Salud", new { @class = "form-control", style = "width:175px" })</td>
                                <td></td>
                                <td align="center">Monto Salud</td>
                                <td></td>
                                <td align="center"><input type="text" id="MontoSalud" style="text-align:right;" /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="center">Valor Seguro Cesantía</td>
                                <td></td>
                                <td align="center"><input type="text" id="ValCesantia" style="text-align:right;" /></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="center" colspan="6" bgcolor="cac5c4">Descuentos Previsionales(-)</td>
                                <td align="center" colspan="6" bgcolor="cac5c4"><input type="text" Id="CPTotDescPrev" style="text-align:right;" disabled /> </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="12" bgcolor="cac5c4">Cálculo Impuesto A la Renta</td>
                            </tr>
                            <tr>
                                <td align="center">Remuneracion Imponible</td>
                                <td></td>
                                <td align="center"><input type="text" Id="CpTotImponible" style="text-align:right;" disabled /></td>
                                <td></td>
                                <td align="center">Descuentos Previsionales(-)</td>
                                <td></td>
                                <td align="center"><input type="text" Id="CPTotDescPrev2" style="text-align:right;" disabled /> </td>
                                <td></td>
                                <td align="center">Remuneración Neta(=)</td>
                                <td></td>
                                <td align="center"><input type="text" id="RemNeta" style="text-align:right;" /></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td align="center">Total Impuesto</td>
                                <td></td>
                                <td align="center"><input type="text" id="TotImp" style="text-align:right;" disabled /></td>
                                <td></td>
                                <td align="center">Rebajas Al Impuesto (-)</td>
                                <td></td>
                                <td align="center"><input type="text" id="RebaImpto" style="text-align:right;" disabled /></td>
                                <td></td>
                                <td align="center">Impuesto A Pagar</td>
                                <td></td>
                                <td align="center"><input type="text" id="ImpAPagar" style="text-align:right;" disabled /></td>
                                <td></td>
                            </tr>


                                @*<td align="center">Apv</td>
                                <td></td>
                                <td align="center"><input type="text" id="ValApv" style="text-align:right;" /></td>
                                <td></td>*@
                           
                            <tr>
                                <td align="center">Otros Descuentos</td>
                                <td></td>
                                <td align="center"><input type="text" id="OtDesc" style="text-align:right;" /></td>
                                <td></td>
                            </tr>                             
                            <tr>
                                <td align="center">Total A Pagar</td>
                                <td></td>
                                <td align="center"><input type="text" id="TotPagar" style="text-align:right;" disabled /></td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-success" id="BtnGrabLiqSueld" value="Grabar"><i class="fa fa-download"></i> Grabar</button>
                <button type="button" class="btn btn-danger" id="Cerrar" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


        
        @*Rut_Empleado
        Id_Tipo_Renumeracion
        Fecha_Liquidacion
        Sueldo_Base
        Dias_Trabajados
        PorcComision
        Valor_Com
        Cant_Horas_Extras
        Valor_Horas_Extras
        Gratificacion
        Bonos
        Colacion
        Movilizacion
        CodAfp
        Valor_Afp
        Cod_Salud
        Valor_Salud
        Id_Seg_Cesantia
        Valor_Seg_Cesantia
        Valor_Impuesto
        Apv
        Otrs_Descuentos
        Total_Pagar*@

<!-- Modal Agrega Liquidación De Sueldo -->
@*<div class="modal" id="AgrLiqSueld">
        <div class="modal-dialog modal-lg" style="width:70%;">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header text-center">
                    <h2 class="modal-title">Nueva Liquidación De Sueldo</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form id="IngEmpl" enctype="multipart/form-data" method="post">
                        <div class="tab-content">
                            <br />
                            <table align="center" border="1">
                                <tr>
                                    <td align="center">Rut Empleado</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="RutEmp" required /></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td ></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-success" id="BtnGrabLiqSueld" value="Grabar"><i class="fa fa-download"></i> Grabar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>*@


@section scripts {
    <link href="~/Content/WebGrid/WebGrid.css" rel="stylesheet" />
    <link href="~/Content/EstilosGenerales/style.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/Aplicacion/LiqSuel/LiqSuel.js"></script>
}

