@model  IEnumerable<CrudMvcSp.Models.SP_Mues_liqSueldo_Result>

@{

    ViewBag.Title = "Index";

    WebGrid grid = new WebGrid(Model, defaultSort: "Nombre",
                             selectionFieldName: "Rut_Empleado",
                             rowsPerPage: 10,
                             sortDirectionFieldName: "Nombre"
                             );
}
<br />
<br />
<h2>Mantención de Liquidación De Sueldos</h2>
<br />
<br />
@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/bootstrap")

@Styles.Render("~/Content/fontawesome")

<table class="table table-responsive table-striped table-condensed" id="NueLiqSueld">
    <tr>
        <td>
            <button id="BtnNueLiqSueld" value="Agregar Liquidación De Sueldo" class="btn btn-group-lg btn-success BtnNuevo"> <i class="fa fa-plus-circle"></i> Agregar Liquidación De Sueldo </button>
        </td>
    </tr>
</table>

<form id="formMuesCargFam" method="post">
    @if (Model.Count() != 0)
    {
        <div class="table table-responsive table-striped table-bordered table-condensed" id="gridCargFam">
            @grid.GetHtml(
             alternatingRowStyle: "webgrid-alternating-row",
             htmlAttributes: new { @id = "TablaLiqSueld", width = "50px", @class = "Grid" },
             tableStyle: "webgrid-table table table-responsive table-bordered",
             headerStyle: "webgrid-header",
             footerStyle: "webgrid-footer",
             selectedRowStyle: "webgrid-selected-row",
             rowStyle: "webgrid-row-style",
             mode: WebGridPagerModes.All,
             firstText: "Primera Pagina",
             previousText: "Pagina Anterior",
             nextText: "Pagina Siguiente",
             lastText: "Ultima Pagina",
             displayHeader: true,
             columns:
              new[] {
                    grid.Column("Rut_Empleado",""),
                    grid.Column("Nombre",""),
                    grid.Column("Descr_Tipo",""),
                    grid.Column("Sueldo_Base",""),
                    grid.Column("Dias_Trabajados",""),
                    grid.Column("Cant_Horas_Extras",""),
                    grid.Column("Valor_Horas_Extras",""),
                    grid.Column("Comisiones",""),
                    grid.Column("Bonos",""),
                    grid.Column("Colacion",""),
                    grid.Column("Movilizacion",""),
                    grid.Column("Nom_Afp",""),
                    grid.Column("Valor_Afp",""),
                    grid.Column("Nombre_Salud",""),
                    grid.Column("Valor_Salud",""),
                    grid.Column("Otrs_Descuentos",""),
                    grid.Column("Total_Pagar",""),
                    grid.Column(header: "Acciones", style: "col-sm-2", format:
                    @<span class="link">
                        <a class="btn btn-success btn-xs glyphicon glyphicon-pencil Edit" href="javascript:;"> Edit</a>
                        <a class="btn btn-warning btn-xs glyphicon glyphicon-print  Info" href="javascript:;"> Info</a>
                        <a class="btn btn-danger  btn-xs glyphicon glyphicon-trash  Delete" href="javascript:;"> Delete</a>
                    </span> )
              })
        </div>
        <div id="TablExport">
            <table align="center">
                <tr>
                    <td>@Html.ActionLink(" Export A Pdf", "LiqSueldPDF", "LiqSueld", new { @class = "btn btn-primary fa fa-file-pdf-o" }) | </td>
                    <td> </td>
                    <td>@Html.ActionLink(" Export A Excel", "LiqSueldXls", "LiqSueld", new { @class = "btn btn-primary fa fa-file-excel-o" }) | </td>
                    <td> </td>
                    <td>@Html.ActionLink(" Export A CSV", "LiqSueldCsv", "LiqSueld", new { @class = "btn btn-primary fa fa-file-excel-o" }) | </td>
                    <td> </td>
                    <td>@Html.ActionLink(" Export A DOC", "LiqSueldDocx", "LiqSueld", new { @class = "btn btn-primary fa fa-file-word-o" }) </td>
                </tr>
            </table>
        </div>
    }
    else
    {
        <div>
            <table align="center">
                <tr>
                    <td>
                        <h4> <i class="fa fa-folder-open"></i> No Hay Datos Disponibles, Haga Click en <b>Agregar Liquidación De Sueldo</b> <i class="fa fa-folder-open"></i> </h4>
                    </td>
                </tr>
            </table>
        </div>
    }
</form>


          @*Id_Liq,
          Rut_Empleado,
          Id_Tipo_Renumeracion,
          Plazo_Contrato,
          Fecha_Liquidacion,
          Dias_Trabajados,
          Gratificacion,
          Sueldo_Base,
          Valor_Grat,
          Cant_Horas_Extras,
          Valor_Horas_Extras,
          Comisiones,
          Bonos,
          Colacion,
          Movilizacion,
          CodAfp,
          Valor_Afp,
          Cod_Salud,
          Valor_Salud,
          Valor_Seg_Cesantia,
          Valor_Impuesto,
          Apv,
          Otrs_Descuentos,
          Total_Pagar,*@