@model CrudMvcSp.Models.Login

@{
    Layout = null;
}

@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/bootstrap")

@Scripts.Render("~/bundles/Alertify")

@Styles.Render("~/Content/fontawesome")

@Styles.Render("~/Content/Alertify")

<!DOCTYPE html>

<body>
    <div class="container">
        <div class="form-container container-fluid">
            <h2 class="Titulo">Login Usuario</h2>
            <br />
            <form id="formLogin" method="post">
                <table align="center" id="Formulario" border="0">
                    <tr>
                      <td><i class="fa fa-user"></i>@Html.EditorFor(Model => Model.Username, new { @class = "form-input", htmlAttributes = new { placeholder = "Nombre de Usuario" } })</td>
                    </tr>
                    <tr>
                      <td><i class="fa fa-unlock-alt"></i>@Html.EditorFor(Model => Model.Password, new { @class = "form-input", htmlAttributes = new { placeholder = "Password" } })</td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td colspan="2" align="center" class="success">
                            <input class="login-button btn btn-lg" type="submit" value="Enviar" id="Enviar" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>

@section scripts{
    <link href="~/Content/Aplicacion/Login/Login.css" rel="stylesheet" />
    <script src="~/Scripts/Aplicacion/Login/Login.js"></script>
}