@model  IEnumerable<CrudMvcSp.Models.Departamento>

@{
    ViewBag.Title = "Departamentos";

    WebGrid grid = new WebGrid(Model, defaultSort: "NomDepto",
                              selectionFieldName: "Id_Depto",
                              rowsPerPage: 10,
                              sortDirectionFieldName: "NomDepto");
}
<br />
<br />
<h2>Mantención Departamentos</h2>
<br />
<br />

@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/bootstrap")

@Scripts.Render("~/bundles/Alertify")

@Styles.Render("~/Content/fontawesome")

@Styles.Render("~/Content/Alertify")

<table class="table table-responsive table-striped table-condensed" id="NueDep">
    <tr>
        <td>
            <button id="BtnNueDep" value="Agregar Departamento" class="btn btn-group-lg btn-success BtnNuevo"> <i class="fa fa-plus-circle"></i> Nuevo Departamento </button>
        </td>
    </tr>
</table>

<form id="formMuesDep" method="post">

    @if (Model.Count() != 0)
    {
        <div class="table table-responsive table-striped table-bordered table-condensed" id="gridDeptos">
            @grid.GetHtml(
                    alternatingRowStyle: "webgrid-alternating-row",
                    htmlAttributes: new { @id = "Tabldepto", width = "50px", @class = "Grid" },
                    tableStyle: "webgrid-table table table-responsive table-bordered",
                    headerStyle: "webgrid-header",
                    footerStyle: "webgrid-footer",
                    selectedRowStyle: "webgrid-selected-row",
                    rowStyle: "webgrid-row-style",
                    mode: WebGridPagerModes.All,
                    firstText: "Primera Pagina",
                    previousText: "Pagina Anterior",
                    nextText: "Pagina Siguiente",
                    lastText: "Ultima Pagina",
                    displayHeader: true,
                    columns:
                    new[] {
                              grid.Column("Id_Depto" , "Codigo Departamento"),
                              grid.Column("NomDepto" , "Nombre Departamento"),
                              grid.Column(header: "Acciones", style: "col-sm-2", format:@<text><a href='#' class="btn btn-warning glyphicon glyphicon-pencil display edit-btn"> Editar</a> </text> )
                                                                                                                                                                                                             })
        </div>

        <div id="TablExport">
            <table align="center">
                <tr>
                    <td>@Html.ActionLink(" Export A Pdf", "GetPdf", "Deptos", new { @class = "btn btn-primary fa fa-file-pdf-o" }) | </td>
                    <td> </td>
                    <td>@Html.ActionLink(" Export A Excel", "GetXls", "Deptos", new { @class = "btn btn-primary fa fa-file-excel-o" }) | </td>
                    <td> </td>
                    <td>@Html.ActionLink(" Export A CSV", "GetCsv", "Deptos", new { @class = "btn btn-primary fa fa-file-excel-o" }) | </td>
                    <td> </td>
                    <td>@Html.ActionLink(" Export A DOC", "GetDocx", "Deptos", new { @class = "btn btn-primary fa fa-file-word-o" }) </td>
                </tr>
            </table>
        </div>
    }
    else
    {
        <div>
            <table align="center">
                <tr>
                    <td>
                        <h4> <i class="fa fa-folder-open"></i> No Hay Datos Disponibles, Haga Click en <b>Agregar Departamentos</b> <i class="fa fa-folder-open"></i> </h4>
                    </td>
                </tr>
            </table>
        </div>
    }
</form>

<!-- Modal Agrega Departamento-->
<div class="modal" id="AgrDep">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title">Nuevo Departamentos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="IngDep" method="post">
                    Nombre Departamento
                    <input type="text" id="NomDep" required />
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-success" id="BtnGrab" value="Grabar"><i class="fa fa-download"></i> Grabar</button>
                <button class="btn btn-danger " id="Cerrar" data-dismiss="modal"><i class="fa fa-window-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Modifica Departamento-->
<div class="modal" id="ModDep">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h4 class="modal-title">Editar Datos Departamentos</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="ModDep" method="post">
                    Nombre Departamento
                    <input type="text" id="ModNomDep" required />
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-success" id="BtnMod" value="Modificar"><i class="fa fa-archive"></i> Modificar</button>
                <button class="btn btn-danger " id="Cerrar" data-dismiss="modal"><i class="fa fa-window-close"></i> Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <link href="~/Content/WebGrid/WebGrid.css" rel="stylesheet" />
    <link href="~/Content/EstilosGenerales/style.css" rel="stylesheet" />
    <script src="~/Scripts/Aplicacion/Departamentos/ManDeptos.js"></script>
}