@model  IEnumerable<CrudMvcSp.Models.Sp_Mues_CargFam_Result>

@{
    ViewBag.Title = "Index";

    WebGrid grid = new WebGrid(Model, defaultSort: "Nombre",
                              selectionFieldName: "Rut_Carga",
                              rowsPerPage: 10,
                              sortDirectionFieldName: "Nombre"
                              );
}
<br />
<br />
<h2>Mantención de Cargas Familiares</h2>
<br />
<br />

@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/bootstrap")

@Styles.Render("~/Content/fontawesome")

<table class="table table-responsive table-striped table-condensed" id="NueCargFam">
    <tr>
        <td>
            <button id="BtnNueCargFam" value="Agregar Carga Familiar" class="btn btn-group-lg btn-success BtnNuevo"> <i class="fa fa-plus-circle"></i> Agregar Carga Familiar </button>
        </td>
    </tr>
</table>

<form id="formMuesCargFam" method="post">
    @if (Model.Count() != 0)
    {
        <div class="table table-responsive table-striped table-bordered table-condensed" id="gridCargFam">
            @grid.GetHtml(
             alternatingRowStyle: "webgrid-alternating-row",
             htmlAttributes: new { @id = "TablaCargFam", width = "50px", @class = "Grid" },
             tableStyle: "webgrid-table table table-responsive table-bordered",
             headerStyle: "webgrid-header",
             footerStyle: "webgrid-footer",
             selectedRowStyle: "webgrid-selected-row",
             rowStyle: "webgrid-row-style",
             mode: WebGridPagerModes.All,
             firstText: "Primera Pagina",
             previousText: "Pagina Anterior",
             nextText: "Pagina Siguiente",
             lastText: "Ultima Pagina",
             displayHeader: true,
             columns:
              new[] {
                    grid.Column("Rut_Carga","Rut"),
                    grid.Column("Nombre", "Nombre"),
                    grid.Column("Paterno","Apellido Paterno"),
                    //grid.Column("Materno","Apellido Materno"),
                    grid.Column("Fono_Movil","Fono Movil"),
                    //grid.Column("Fono_Fijo","Fono Fijo"),
                    grid.Column("Fecha_Nacimiento","Fecha Nacimiento" ),
                    //grid.Column("Sexo","Sexo"),
                    grid.Column("Direccion", "Dirección"),
                    //grid.Column("Villa","Villa"),
                    grid.Column("Comuna","Comuna"),
                    //grid.Column("Ciudad", "Ciudad"),
                    grid.Column("Email", "Email"),
                    //grid.Column("Rut_Empleado", "Rut Empleado"),
                    grid.Column("Nombre_Empleado","Nombre Empleado"),
                    //grid.Column("Nacionalidad","Nacionalidad"),
                    grid.Column("Comentarios","Comentarios"),
                    grid.Column(header: "Acciones", style: "col-sm-2", format:
                    @<span class="link">
                        <a class="btn btn-success btn-xs glyphicon glyphicon-pencil Edit" href="javascript:;"> Edit</a>
                        @*<a class="btn btn-warning btn-xs glyphicon glyphicon-print  Info" href="javascript:;"> Info</a>*@
                        <a class="btn btn-danger  btn-xs glyphicon glyphicon-trash  Delete" href="javascript:;"> Delete</a>
                    </span> )
               })
        </div>
        <div id="TablExport">
            <table align="center">
                <tr>
                    <td>@Html.ActionLink(" Export A Pdf", "CargFamPDF", "CargFam", new { @class = "btn btn-primary fa fa-file-pdf-o" }) | </td>
                    <td> </td>
                    <td>@Html.ActionLink(" Export A Excel", "CargFamXls", "CargFam", new { @class = "btn btn-primary fa fa-file-excel-o" }) | </td>
                    <td> </td>
                    <td>@Html.ActionLink(" Export A CSV", "CargFamCsv", "CargFam", new { @class = "btn btn-primary fa fa-file-excel-o" }) | </td>
                    <td> </td>
                    <td>@Html.ActionLink(" Export A DOC", "CargFamDocx", "CargFam", new { @class = "btn btn-primary fa fa-file-word-o" }) </td>
                </tr>
            </table>
        </div>
    }
    else
    {
        <div>
            <table align="center">
                <tr>
                    <td>
                        <h4> <i class="fa fa-folder-open"></i> No Hay Datos Disponibles, Haga Click en <b>Agregar Carga Familiar</b> <i class="fa fa-folder-open"></i> </h4>
                    </td>
                </tr>
            </table>
        </div>
    }
</form>

<!-- Modal Agrega Cargar Familiares -->
<div class="modal" id="AgrCargFam">
    <div class="modal-dialog modal-lg" style="width:70%;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h2 class="modal-title">Nueva Carga Familiar</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="IngEmpl" enctype="multipart/form-data" method="post">
                    <div class="tab-content">
                            <br />
                            <table align="center">
                                <tr>
                                    <td align="center">Rut Empleado</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="RutEmp" required /></td>
                                    <td></td>
                                    <td align="center">Rut Carga Familiar</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="RutCargFam" /></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center">Nombre</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="NomCargFam" /></td>
                                    <td></td>
                                    <td align="center" style="margin-top:15px;">Apellido Paterno</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="ApPatCargFam" /></td>
                                    <td></td>
                                    <td align="center" style="margin-top:15px;">Apellido Materno</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="ApMatCargFam" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center">Fono Movil</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="FonoMovCargFam" /> </td>
                                    <td></td>
                                    <td align="center">Fono Fijo</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="FonoFijoCargFam" /></td>
                                    <td></td>
                                    <td align="center">Fecha de Nacimiento</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="FechNacGarFam" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center">Sexo</td>
                                    <td></td>
                                    <td>
                                        @Html.DropDownList("SexoSelec", ViewBag.ListSexos as SelectList, "Seleccione Sexo", new { @class = "form-control", style = "width:175px" })
                                    </td>
                                    <td></td>
                                    <td align="center">Email</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="EmaiCarFam" /></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center">Calle/Pje</td>
                                    <td></td>
                                    <td><input type="text" id="CallPjeCargFam" /></td>
                                    <td></td>
                                    <td align="center">Número</td>
                                    <td></td>
                                    <td><input type="text" id="NumCasaCargFam" /></td>
                                    <td></td>
                                    <td align="center">Villa_Población</td>
                                    <td></td>
                                    <td><input type="text" id="Villa_PoblCargFam" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center">Comuna</td>
                                    <td></td>
                                    <td> @Html.DropDownList("ComuCargFam", ViewBag.ListComu as SelectList, "Seleccione Comuna", new { @class = "form-control", style = "width:175px" })</td>
                                    <td></td>
                                    <td align="center">Ciudad</td>
                                    <td></td>
                                    <td><input type="text" id="NomCiuCargFam" /></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center">Nacionalidad</td>
                                    <td></td>
                                    <td>
                                        @Html.DropDownList("NacioSelec", ViewBag.ListNacion as SelectList, "Seleccione Nacionalidad", new { @class = "form-control", style = "width:175px" })
                                    </td>
                                    <td></td>
                                    <td align="center">Descripción</td>
                                    <td></td>
                                    <td colspan="5"><input type="text" id="DescrCargFam" /></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-success" id="BtnGrabEmp" value="Grabar"><i class="fa fa-download"></i> Grabar</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Modifica datos de Cargas Familiares -->
<div class="modal" id="ModCargFam">
    <div class="modal-dialog modal-lg" style="width:70%;">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header text-center">
                <h2 class="modal-title">Modificar Datos Carga Familiar</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form id="ModEmpl" enctype="multipart/form-data" method="post">
                    <div class="tab-content">
                      <br />
                            <table align="center" border="1">
                                <tr>
                                    <td align="center">Rut Carga Familiar</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="ModRutCargFam" /></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><input type="hidden" id="ModRutEmp" /> </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center">Nombre</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="ModNomCargFam" /></td>
                                    <td></td>
                                    <td align="center" style="margin-top:15px;">Apellido Paterno</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="ModApPatCargFam" /></td>
                                    <td></td>
                                    <td align="center" style="margin-top:15px;">Apellido Materno</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="ModApMatCargFam" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center">Fono Movil</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="ModFonoMovCargFam" /> </td>
                                    <td></td>
                                    <td align="center">Fono Fijo</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="ModFonoFijoCargFam" /></td>
                                    <td></td>
                                    <td align="center">Fecha de Nacimiento</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="ModFechNacGarFam" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center">Sexo</td>
                                    <td></td>
                                    <td>@Html.DropDownList("ModSexoSelec", ViewBag.ListSexos as SelectList, "Seleccione Sexo", new { @class = "form-control", style = "width:175px" })</td>
                                    <td></td>
                                    <td align="center">Email</td>
                                    <td></td>
                                    <td align="center"><input type="text" id="ModEmaiCarFam" /></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center">Calle/Pje</td>
                                    <td></td>
                                    <td><input type="text" id="ModCallPjeCargFam" /></td>
                                    <td></td>
                                    <td align="center">Número</td>
                                    <td></td>
                                    <td><input type="text" id="ModNumCasaCargFam" /></td>
                                    <td></td>
                                    <td align="center">Villa_Población</td>
                                    <td></td>
                                    <td><input type="text" id="ModVilla_PoblCargFam" /></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center">Comuna</td>
                                    <td></td>
                                    <td> @Html.DropDownList("ModComuCargFam", ViewBag.ListComu as SelectList, "Seleccione Comuna", new { @class = "form-control", style = "width:175px" })</td>
                                    <td></td>
                                    <td align="center">Ciudad</td>
                                    <td></td>
                                    <td><input type="text" id="ModNomCiuCargFam" /></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td align="center">Nacionalidad</td>
                                    <td></td>
                                    <td>@Html.DropDownList("ModNacioSelec", ViewBag.ListNacion as SelectList, "Seleccione Nacionalidad", new { @class = "form-control", style = "width:175px" })</td>
                                    <td></td>
                                    <td align="center">Descripción</td>
                                    <td></td>
                                    <td colspan="5"><textarea id="ModDescrCargFam" cols="70" rows="1"></textarea></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </table>
                    </div>
                </form>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-success" id="BtnModCargFam" value="Modificar"><i class="fa fa-download"></i> Grabar</button>
                <button type="button" id="Cerrar" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <link href="~/Content/WebGrid/WebGrid.css" rel="stylesheet" />
    <link href="~/Content/EstilosGenerales/style.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script src="~/Scripts/toastr.js"></script>
    <script src="~/Scripts/Aplicacion/CargFam/CargFam.js"></script>
}